section {
    display: inline-block;
    width: auto;
}

.horizontal {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.vertical {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.margin {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.dot-border {
  border-style: dotted;
}
