;; Analyzed by ClojureScript 1.7.228
{:name node-test.crawler, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {node cljs.nodejs, cljs.nodejs cljs.nodejs, data node-test.static-data, node-test.static-data node-test.static-data}, :imports nil, :defs {crawl {:protocol-inline nil, :meta {:file "/home/martin/Documents/dev/clojure/trends/src/node_test/crawler.cljs", :line 7, :column 7, :end-line 7, :end-column 12, :arglists (quote ([]))}, :name node-test.crawler/crawl, :variadic false, :file "/home/martin/Documents/dev/clojure/trends/src/node_test/crawler.cljs", :end-column 12, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 7, :end-line 7, :max-fixed-arity 0, :fn-var true, :arglists (quote ([]))}}}